# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# Flask
instance/
.webassets-cache

# Tkinter
*.tcl
*.tk

# Misc
*.log
*.sqlite3
*.sqlite3-journal

# VS Code
.vscode/
